1D_Assignment/Report/Report.toc
1D_Assignment/Report/Report.synctex.gz
1D_Assignment/Report/Report.log
1D_Assignment/Report/Report.toc
1D_Assignment/Report/Report.log
*.aux
1D_Assignment/Report/Report.toc